<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <h2>Choose an option:</h2>
    <ul>
        <li><a href="/update">Update School Marks</a></li>
        <li><a href="/update_jee">Update JEE/Advance Test Marks</a></li>
        <li><a href="/daily_update">Update Daily Status</a></li>
    </ul>
    <br>
    <a href="/logout">Logout</a>
</body>
</html>
